<!-- Menu toggle button -->
<a href="" class="dropdown-toggle" data-toggle="dropdown">
  <i class="fa fa-bell-o"></i>
  <span class="label label-warning" ng-hide="{{notificaciones.length===0}}" ng-bind="{{notificaciones.length}}"></span>
</a>
<ul class="dropdown-menu">
  <li class="header">Tiene {{notificaciones.length}} notificaciones</li>
  <li>
    <!-- Inner Menu: contains the notifications -->
    <ul class="menu">
      <li ng-repeat="notificacion in notificaciones"><!-- start notification -->
        <a href="">
          <i class="fa {{notificacion.icono}} text-aqua"></i> {{notificacion.notificacion}}
        </a>
      </li>
      <!-- end notification -->
    </ul>
  </li>
  <li class="footer"><a href="">Ver todas</a></li>
</ul>
